<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Méta-informations pour le navigateur -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Artisans</title>
    <!-- Lien vers le fichier de styles CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Navbar de navigation -->
    <ul class="navbar">
        <li><a th:href="@{/}">Accueil</a></li>
        <li><a th:href="@{/artisans}">Artisans</a></li>
        <li><a th:href="@{/ateliers}">Ateliers</a></li>
        <li><a th:href="@{/reservations}">Réservations</a></li>
        <li><a th:href="@{/participants}">Participants</a></li>
    </ul>

    <!-- Contenu de la page -->
    <h2>Liste des Artisans</h2>
    <!-- Tableau affichant les artisans -->
    <table>
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            <!-- Utilisation de Thymeleaf pour itérer à travers la liste des artisans -->
            <tr th:each="artisan : ${artisans}">
                <td th:text="${artisan.prenom}"></td>
                <td th:text="${artisan.nom}"></td>
            </tr>
        </tbody>
    </table>

    <!-- Footer de la page -->
    <div class="footer">
        <p>RéservationCréative.com - Tous droits réservés.</p>
    </div>
</body>
</html>
